
/* images */

.hero-image {
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}


/* cards below hero image */

.card-pad {

    margin-top: 5em;
    margin-left: 5em;

}

/* call now */

.call-pad {

    margin-top: 3em;
    margin-bottom: 3em;
}


/* google maps pad */

.gog-pad {

    margin-top: 3em;
}

.gog-pad2 {

    margin-top: 3em;
}