
/* images */

.hero-image {
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}


/* cards below hero image */

.card-pad {

    margin-top: 3em;
    margin-left: 3em;

}
